/* Fonts */
/* ================================================ */
@font-face {
	font-family: "League Spartan";
	src: url("/fonts/league-spartan/leaguespartan-bold.eot");
	src: url("/fonts/league-spartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"),
			 url("/fonts/league-spartan/leaguespartan-bold.woff") format("woff"),
			 url("/fonts/league-spartan/leaguespartan-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
